.container{
    display:flex;
}
 .warning{
    font-size:12px;
    color: brown;
    opacity:0.9;
    margin-bottom:10px;
}

.message {
    font-size:12px;
    color:crimson;
    opacity:0.9;
    margin-top:10px;
}

.result-container{
    min-width:750px;
}
.twit{
    display:flex;
    font-size:12px;
    margin:15px 0;
}

.twit:hover{
    background-color:lightcyan;
}

.user{
    width:200px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.user a {
    color:inherit;
}
.date{
    width:150px;
}

.twit-text{
    width:300px;
    word-break: break-all;
}
.retweets{
    width:50px;
    margin:10px 0 0 25px;
}

